.app {
  position: relative;
  max-width: 1010px;
  min-height: 280px;
  margin: 0 auto;
  padding: 35px;
  background-color: #fff;
}

@media (max-width: 950px) {
  .app {
    width: 100%;
    padding: 20px;
  } 
}