.ant-tabs >.ant-tabs-nav, .ant-tabs >div>.ant-tabs-nav {
  margin: 0 auto 10px 50%;
  transform: translateX(-50%);
}

.search {
  margin-bottom: 35px;
}

.ant-pagination .ant-pagination-item-active a {
  background-color: #1677ff;
  color: #fff;
}

.pagination {
  position: absolute;
  bottom: -50px;
  margin-left: 50%;
  transform: translateX(-50%);
}