.card {
    min-height: 245px;
}

.card-img {
    display: inline-block;
    width: 180px;
    min-height: 270px;
    object-fit: contain;
}

.card-title {
    width: 85%;
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.estimation {
    position: absolute;
    right: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
}

.card-date {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 22px;
}

.card-genre {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.card-descr {
    margin: 0 0 auto 0;
    font-size: 12px;
    line-height: 22px;
}

.card-rate {
    font-size: 1.2em;
}

@media (max-width: 1000px) {
    .card-title {
        font-size: 18px;
    }
    .card-descr {
        font-size: 10px;
    }
    .card-rate {
        font-size: .9em;
    } 
}
@media (max-width: 870px) {
    .card-rate {
        font-size: .7em;
    } 
}
@media (max-width: 475px) {
    .card-img {
        width: 162px;
        min-height: 180px;
        object-fit: contain;
    }
    .card-title {
        font-size: 16px;
    }
    .card-descr {
        font-size: 12px;
    }
    .card-rate {
        font-size: .8em;
    } 
}